$primary-color: #6EC1E4;
$secondary-color: #8C71DF;
$gradient: linear-gradient(90deg, rgba(36, 198, 220, 0.8) 0%, rgba(117, 55, 197, 0.8) 100%), linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
$lightGradient: linear-gradient(90deg, rgba(36, 198, 220, 0.4) 0%, rgba(117, 55, 197, 0.4okay ) 100%), linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
$bg-color: #F7FAF9;
$border-radius: 8px;
$font-family-main: 'Inter', sans-serif;
